<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-binahai" version="1.0.0" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BinahAi</name>
    <js-module name="BinahAi" src="www/BinahAi.js">
        <clobbers target="BinahAi" />
    </js-module>
    <platform name="android">
        <resource-file src="src/android/libs/bnhsdk.aar" target="libs/bnhsdk.aar" />
        <resource-file src="src/android/activity_camera.xml" target="res/layout/activity_camera.xml" />
        <resource-file src="src/android/face_detection.xml" target="res/drawable/face_detection.xml" />
        <resource-file src="src/android/binah_camera_theme.xml" target="res/values/binah_camera_theme.xml" />
        <edit-config file="res/values/strings.xml" target="/resources/" mode="append" >
            <string name="start">START</string>
            <string name="stop">STOP</string>
        </edit-config>
        <framework custom="true" src="src/android/binahai.gradle" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BinahAi">
                <param name="android-package" value="inc.bastion.binahai.BinahAi" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="inc.bastion.binahai.CameraActivity" android:screenOrientation="portrait" android:theme="@style/BinahCameraTheme" />
        </config-file>
        <source-file src="src/android/BinahAi.java" target-dir="src/inc/bastion/binahai" />
        <source-file src="src/android/CameraActivity.java" target-dir="src/inc/bastion/binahai" />
        <source-file src="src/android/SignTypeNames.java" target-dir="src/inc/bastion/binahai" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BinahAi">
                <param name="ios-package" value="BinahAi" />
            </feature>
        </config-file>
        <source-file src="src/ios/BinahAi.m" />
        <header-file src="src/ios/BinahAi.h" />
        <header-file src="src/ios/CameraRenderController.h" />
        <source-file src="src/ios/CameraRenderController.m" />
        <source-file src="src/ios/CameraViewController.storyboard" />
        <framework src="BinahAI.framework" />
    </platform>
</plugin>